{% extends 'header.html.twig' %}
{% block title %} {{title}} {% endblock %}
{% block stylesheets %}
        <link href="{{ asset('css/acceuil.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div  class="row">
    	<div class="navbar navbar-default col-xs-5 col-xs-offset-3">
    		<div class="container-fluid" id="header">
	    			
			         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      					<ul class="nav navbar-nav">
							    
	      							<li><a href="{{ url('acceuil') }}">Acceuil </a></li>
	      							<li><a href="{{ url('formation') }}">Formations </a></li>
							        <li><a href="{{ url('mesFormation') }}"> Mes formations </a></li>
							        <li><a href="{{ url('ajouts') }}"> Ajouter formation</a></li>
							        <li><a href="{{ url('suivi') }}"> Suivi</a></li>
							</ul>
		        	</div>
		    </div>
	    </div>
    </div>
    <div class="row">
     	<div class="col-xs-8 col-xs-offset-1 toppad">
     		<div class="panel panel-info">
	            <div class="panel-heading">
	              	<h3 class="panel-title">{{message}}</h3>
	            </div>
     		</div>
     		<div class="panel-body">
              	<div class="row">
              		<div class=" col-md-9 col-lg-9 "> 
                  		<table class="table table-user-information">
                    		<tbody>
                      			<tr>
                        			<td>Contenu:</td>
                        			<td>{{formation.contenu}}</td>
                      			</tr>
                      			<tr>
			                        <td>Coût:</td>
			                        <td>{{formation.cout}}</td>
			                    </tr>
			                    <tr>
			                        <td>Date</td>
			                        <td>{{formation.date|date("d/m/Y")}}</td>
			                    </tr>
                   
		                        <tr>
		                        	<td>Durée</td>
		                        	<td>{{formation.duree}}</td>
		                      	</tr>
		                        <tr>
		                        	<td>Pré-requies</td>
		                        	<td>{{formation.preRequis}}</td>
		                      	</tr>
		                      	<tr>
		                      		{% if inscrit %}
		                        		<td>Etat demande</td>
		                        		<td>{{partform.etats}}</td>
		                        	{% endif %}
		                      	</tr>
		                      	
                    		</tbody>
                  		</table>
                  		{% if valide %}
                  			{% if partform.etats == "Pas encore validée" %}
	<a href="{{ url('inscription', {'id': formation.id , 'contenu':formation.contenu, 'valider':'Formation Validée' ,'idSalarie':idSalarie}) }}" class="btn btn-danger">
								 	Valider formation
								</a> 
								<a href="{{ url('inscription', {'id': formation.id , 'contenu':formation.contenu,'valider':'Demande rejetée','idSalarie':idSalarie, }) }}" class="btn btn-danger">
								 	Rejeter la demande
								</a> 
							{% else %}
								<p class="btn btn-danger">
								 	{{partform.etats}}
								 </p>
								                 			
							{% endif %}
                  		{% else %}
	                  		{% if inscrit %}
	                  			<a  class="btn btn-danger"> Vous êtes déja inscrits </a>
	                  		{% else %}
	                  			<a href="{{ url('inscription', {'id': formation.id , 'contenu':formation.contenu }) }}" class="btn btn-danger"> S'inscrire</a>
	                  		{% endif %}
	                  	{% endif %}
                	</div>
             	 </div>
            </div>
            
       	</div>
    </div>
      



{% endblock %}